
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #4c56af;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4c56af;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #4c56af;
}

#goals, #meal-list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#goals p, #meal-list li {
    margin: 5px 0;
    font-size: 16px;
}

#meal-list li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#meal-list li:last-child {
    border-bottom: none;
}
